[Unit]
Description=SeaweedFS Filer
After=network-online.target seaweedfs-master.service
Wants=network-online.target

[Service]
Type=simple
User={{ seaweedfs_user }}
Group={{ seaweedfs_group }}
ExecStart={{ seaweedfs_bin }} filer \
  -ip={{ ansible_host | default(inventory_hostname) }} \
  -port={{ seaweedfs_filer_port }} \
  -port.grpc={{ seaweedfs_filer_grpc_port }} \
  -metricsPort={{ seaweedfs_filer_metrics_port }} \
  -defaultStoreDir={{ seaweedfs_filer_data_dir }} \
  -master={% for h in groups.get('masters', []) %}{{ hostvars[h]['ansible_host'] }}:{{ seaweedfs_master_port }}{% if not loop.last %},{% endif %}{% endfor %} \
  -filerGroup={{ seaweedfs_filer_group }}
WorkingDirectory=/etc/seaweedfs
Restart=always
RestartSec=5
LimitNOFILE=1048576
StandardOutput=append:{{ seaweedfs_log_dir }}/filer.log
StandardError=append:{{ seaweedfs_log_dir }}/filer.err.log

[Install]
WantedBy=multi-user.target
